@import "../dist/webkit-sassui-ios-setting-entry.scss";
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #eee;
}
*{margin:0;padding:0;-webkit-margin-before:0;-webkit-margin-after:0;}
.p20{
  padding:20px;
}
.blank-10{
  height:10px;
}
.test-webkit-sassui-ios-setting-entry{
  @include webkit-sassui-ios-setting-entry();
  .icon>img{
    // @include size(24px);
  }
}
