/*webkit-sassui-ios-setting-entry Start*/
@import "bower_components/webkit-sass-mixins/dist/webkit-sass-mixins.scss";
@mixin webkit-sassui-ios-setting-entry($inHeight:4.4em,$inColor:#e7e7e7,$inArrowWidth:30px,$inItemSelector:'>.entry-item') {
  font-size: 10px;
  background: #FFF;
  color: #333;
  border-bottom: 1px solid $inColor;

  &[icon-no-border]{
    #{$inItemSelector}>.icon{
      border:none;
    }
  }

  #{$inItemSelector} {
    @include display-box;

    & > * {
      @include display-box;
      @include box-align;
      @include box-pack;
    }

    height: $inHeight;
    padding-left: 1em;

    >* {
      border-bottom: 1px solid $inColor;
    }

    &:last-child {
      > * {
        border-bottom: none;
      }
    }

    .icon {
      padding-right: 1em;
      > img {
        object-fit: cover;
      }
    }

    > .bd {
      font-size: 1.6em;
      @include box-flex;
      @include box-pack(start);
    }

    .arrow {
      width:$inArrowWidth;
    }
  }
}
/*webkit-sassui-ios-setting-entry End*/
